body {
	font-family: 'Helvetica Neue', Arial, sans-serif;
}

hr {
	border-color: #879b36;
	border-width: 3px;
	max-width: 50px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

#input-birthdate select, #couch-type {
	color: gray;
}

.jumbotron {
	background-color: #879b36;
	color: white;
}

.cover-image {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;
}

#questions i {
	color: #879b36;
}

#questions, #questions > ul {
	list-style-type: none;
	color: #333333;
}

.error {
	color: #a94442;
}

.img-wrap {
	position: relative;
}

.img-wrap .close {
	position: absolute;
	top: 0.2em;
	right: 1em;
	z-index: 100;
	font-size: 24px;
	color: red;
	filter: alpha(opacity=75);
	opacity: .75;
}

.img-wrap
.close:hover,
.img-wrap
.close:focus {
	color: red;
	text-decoration: none;
	cursor: pointer;
	filter: alpha(opacity=100);
	opacity: 1;
}

/* FIX LOCATION AUTOCOMPLETE INSIDE MODAL */
.pac-container {
	z-index: 1050;
}
